{% extends "../../base.html" %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="row">
        <div class="col-md-4">
    {% for self_employed_owner in self_employed_owners %}
            <p class="h2 py-3 mx-3">{{ self_employed_owner.company_name }} details</p>
            <li class="m-2"> Name: {{ self_employed_owner.first_name }} {{ self_employed_owner.last_name }}</li>
            <li class="m-2"> Email: {{ self_employed_owner.email }}</li>
            <li class="m-2"> Phone number: {{ self_employed_owner.phone_number }}</li>
            <li class="m-2"> Address: {{self_employed_owner.address_prefix}}{{ self_employed_owner.street }}<br>{{ self_employed_owner.building }}
                {{ self_employed_owner.apartment }} {{ self_employed_owner.city }} {{ self_employed_owner.zip_code }}
            </li>
            <li class="m-2"> NIP: {{ self_employed_owner.nip }}</li>
            <li class="m-2"> REGON: {{ self_employed_owner.regon }}</li>
            <li class="m-2"> Client since: {{ self_employed_owner.client_since }}</li>
        
        {% if forloop.last %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="{% url 'self_employed_owner_update' self_employed_owner.id %}"> Update owner info</a>
                <a class="btn btn-info" href="{% url 'self_employed_owner_delete' self_employed_owner.pk %}"> Delete owner </a></ul>
        </div>
        {% endif %}
        
    {% endfor %}
    </div>
    <div class="col-md-4">    
        <p class="h2 py-3 mx-3">Client files </p>
    {% for attachment in attachments %}
            <li class="m-2"><a download href="{{ attachment.attachment.url }}">{{ attachment.attachment.name }}</a></li>
        {% if forloop.last %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="{% url 'self_employed_owner_attachment_create' attachment.owner.id %}">Add attachment</a>
        </div>
        {% endif %}
        {% empty %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="#">Add attachment</a>
        </div>
    {% endfor %}
    </div>
    <div class="col-4">
        <p class="h2 py-3 mx-3">Client notes</p>
    {% for note in notes %}
            <li class="m-2">{{ note.note|safe }}</li>
        {% if forloop.last %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="{% url 'self_employed_owner_note_create' note.owner.id %}">Add note</a>
        </div>
        {% endif %}
        {% empty %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="#">Add note</a>
        </div>
    {% endfor %}
    </div>
    </div>
    <div class="row my-4">
        <div class="col-12">
            <ul><a class="btn btn-info" href="{% url 'owner_list'%}"> Return to owner list</a>
            <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a></ul>
        </div>
    </div>
</div>

<!-- <script>
    $('.category-checkbox input[type="checkbox"]').on('click', function() {
        if ($(this).is(':checked')) {
          // Add the element to the div with an id identifier
          $('.items').append(`<div id="item_${this.id}">123</div>`);
        } else {
          // Remove the element from the div targeted by the id identifier
          $(`#item_${this.id}`).remove();
        }
      });
</script> -->

{% endblock %}

