{% extends "../../base.html" %}

{% block content %}
<div class="d-flex justify-between">

<div class="d-flex justify-content-left mx-3">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <p class="h2 py-3">Individual Customers</p>
            {% for individual_customer in individual_customers %}
                <li class="m-2 font-weight-bold"><a href="{% url 'individual_customer_detail' individual_customer.id %}">{{ individual_customer }}</a></li>
            {% endfor %}
            <div class="justify-between">
                <a class="btn" href="{% url 'individual_customer_create'%}"> Add new individual customer </a>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-left mx-3">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <p class="h2 py-3">Self Employed customers</p>
            {% for self_employed_customer in self_employed_customers %}
                <li class="m-2 font-weight-bold"><a href="{% url 'self_employed_customer_detail' self_employed_customer.id %}">{{ self_employed_customer }}</a></li>
            {% endfor %}   
            <div class="justify-between">
                <a class="btn" href="{% url 'self_employed_customer_create'%}"> Add new self employed customer </a>
            </div>     
        </div>
    </div>
</div>
<div class="d-flex justify-content-left mx-3">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <p class="h2 py-3">Enterprise customers</p>
            {% for enterprise_customer in enterprise_customers %}
                <li class="m-2 font-weight-bold"><a href="{% url 'enterprise_customer_detail' enterprise_customer.id %}">{{ enterprise_customer }}</a></li>
            {% endfor %} 
            <div class="justify-between">
                <a class="btn" href="{% url 'enterprise_customer_create'%}"> Add new enterprise customer </a>
            </div>        
        </div>
    </div>
</div>
</div>
<div class="d-flex justify-content-left mx-3">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <a class="btn my-2" href="{% url 'home'%}"> Return to the main page</a>
        </div>
    </div>
</div>
{% endblock %}