{% extends "../../../base.html" %}

{% block content %}
<div class="content-container">
    <p class="h2 py-3">Add an attachment</p>
    <form class="m-2" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-info mt-3" type="submit">Save</button>
    </form>
    <div class="py-3 justify-between">
        <a class="btn btn-info" href="{% url 'owner_list' %}"> Return to owner list</a>
        <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a>
    </div>
</div>
{% endblock %}