{% extends "../base.html" %}

{% block content %}
<div class="d-flex justify-content-left">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <p class="h1 py-3">Register</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-left">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn mt-3" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}