{% extends "../../base.html" %}

{% block content %}
<div class="d-flex justify-content-left">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <p class="h1 py-3">{{ carevent.title }} </p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-left">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <li class="mt-2"> Description: {{ carevent.description }}</li>
            <li class="mt-2"> Start Date: {{ carevent.start }}</li>
            <li class="mt-2"> End Date: {{ carevent.end }}</li>
        </div>
    </div>
</div>

<div class="d-flex justify-content-left">
    <div class="row row-centered col-centered pt-3">
        <div class="col-12"> 
            <ul>
                <a class="btn" href="{% url 'events_list'%}"> Return to events list</a>
                <a class="btn" href="{% url 'home'%}"> Return to the main page</a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}