@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
  
  body {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0), rgba(9, 22, 97));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0), rgba(9, 22, 97));

    box-shadow: inset 8px 8px 24px 3px rgba(66, 68, 90, 1);

  }

  nav {
    background:transparent;
  }

  .nav-item.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  footer {
    background: transparent;
  }

  #main-container {
    background-color: e1eff1;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 0px !important;
    max-width: 80%;
    min-height: 80vh;
  }

  ul {
    height: 100%;
    padding: 0px 0px 0px 20px;
  }
  
  a {
    color: #0f1746;
  }

  #header-link {
    color: #e1eff1;
    font-size: 21px;
    text-decoration: none;
  }

  #navbarDropdown {
    color: #e1eff1;
    font-size: 21px;
    text-decoration: none;
  }

  #header-link:hover {
    color: #ffd400;
    font-size: 19px;
    text-decoration: none;
  }

  .btn {
    outline: none;
    color: black;
    background-color: #e1eff1;
    box-shadow: 0 8px 8px 0 rgba(15, 23, 70, 0.5);
    font-weight: bold !important;
  }

  .btn:hover{
    background-color: #ffd400;
  }
  
  .contact-icon {
    width: 70px;
    height: 70px;
  }

  p {
    font-weight: normal !important;
  }

  .dropdown-item:hover {
    background-color: #ffd400;
  }
  .dropdown-item {
    background-color: white;
  }
