@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
  
  body {
    background-color: #0f1746;
  }

  #main-container {
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
    max-width: 80%;
    min-height: 80vh;

  }

  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: #0f1746;
  }

  #header-link {
    color: #e1eff1;
    font-size: 19px;
    text-decoration: none;
  }

  #header-link:hover {
    color: #3844af;
    font-size: 19px;
    text-decoration: none;
  }

  .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    font-weight: bold !important;
  }

  .contact-icon {
    width: 70px;
    height: 70px;
  }
