{% extends "../../base.html" %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="row">
        <div class="col-4">
    {% for individual_owner in individual_owners %}
    <p class="h2 py-3 mx-3">{{ individual_owner.first_name }} {{ individual_owner.last_name }}</p>
    <li class="m-2"> Email: {{ individual_owner.email }}</li>
    <li class="m-2"> Phone number: {{ individual_owner.phone_number }}</li>
    <li class="m-2"> Address: {{individual_owner.address_prefix}}{{ individual_owner.street }}<br>{{ individual_owner.building }}
        {{ individual_owner.apartment }} {{ individual_owner.city }} {{ individual_owner.zip_code }}
    </li>
    <li class="m-2"> PESEL: {{ individual_owner.pesel }}</li>
    <li class="m-2"> Client since: {{ individual_owner.client_since }}</li>
        
        {% if forloop.last %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="{% url 'owner_update' individual_owner.id %}"> Update owner info</a>
                <a class="btn btn-info" href="{% url 'owner_delete' individual_owner.pk %}"> Delete owner </a></ul>
        </div>
        {% endif %}
    {% endfor %}
    </div>      
    <div class="col-4"> 
        <p class="h2 py-3 mx-3">Client files </p>
        {% for attachment in attachments %}
            <li class="m-2"><a download href="{{ attachment.attachment.url }}">{{ attachment.attachment.name }}</a></li>
        {% if forloop.last %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="{% url 'owner_attachment_create' attachment.owner.id %}">Add attachment</a>
        </div>
        {% endif %}
        {% empty %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="{% url 'owner_attachment_create' attachment.owner.id %}">Add attachment</a>
        </div>
    {% endfor %}
    </div>
    <div class="col-4">  
        <p class="h2 py-3 mx-3">Client notes</p>
    {% for note in notes %}
        <li class="m-2">{{ note.note|safe }}</li>
        {% if forloop.last %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="{% url 'owner_note_create' note.owner.id %}">Add note</a>
        </div>
        {% endif %}
        {% empty %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="#">Add note</a>
        </div>
    {% endfor %}
    </div>
    </div>
    <div class="row my-4">
        <div class="col-12">
            <ul><a class="btn btn-info" href="{% url 'owner_list'%}"> Return to owner list</a>
            <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a></ul>
        </div>
    </div>
</div>

<!-- <script>
    $('.category-checkbox input[type="checkbox"]').on('click', function() {
        if ($(this).is(':checked')) {
          // Add the element to the div with an id identifier
          $('.items').append(`<div id="item_${this.id}">123</div>`);
        } else {
          // Remove the element from the div targeted by the id identifier
          $(`#item_${this.id}`).remove();
        }
      });
</script> -->

{% endblock %}

