{% extends "../../base.html" %}

{% block content %}
<div class="content-container">
    <div class="row">
    <div class="col-md-4">
        <p class="h2 py-3">Individual Owners</p>
        {% for individual_owner in individual_owners %}
            <li class="m-2 font-weight-bold"><a href="{% url 'owner_detail' individual_owner.id %}">{{ individual_owner }}</a></li>
        {% endfor %}
        <div class="py-3 justify-between">
            <a class="btn btn-info" href="{% url 'owner_create'%}"> Add new individual owner </a>
        </div>
    </div>
    <div class="col-4">
        <p class="h2 py-3">Self Employed Owners</p>
        {% for self_employed_owner in self_employed_owners %}
            <li class="m-2 font-weight-bold"><a href="{% url 'self_employed_owner_detail' self_employed_owner.id %}">{{ self_employed_owner }}</a></li>
        {% endfor %}   
        <div class="py-3 justify-between">
            <a class="btn btn-info" href="{% url 'self_employed_owner_create'%}"> Add new self employed owner </a>
        </div>     
    </div>
    <div class="col-4">
        <p class="h2 py-3">Enterprise Owners</p>
        {% for enterprise_owner in enterprise_owners %}
            <li class="m-2 font-weight-bold"><a href="{% url 'enterprise_owner_detail' enterprise_owner.id %}">{{ enterprise_owner }}</a></li>
        {% endfor %} 
        <div class="py-3 justify-between">
            <a class="btn btn-info" href="{% url 'enterprise_owner_create'%}"> Add new enterprise owner </a>
        </div>        
    </div>
    </div>
    <div class="py-3 justify-between">
        <a class="btn btn-info" href="{% url 'owner_create'%}"> Add new owner </a>
        <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a>
    </div>
</div>
{% endblock %}