{% extends "../../base.html" %}

{% block content %}
<div class="content-container">
    <p class="h2 py-3">Owners</p>

    {% for insurance in object_list %}
        <li class="m-2 font-weight-bold"><a href="{% url 'owner_detail' owner.id %}">{{ owner }}</a></li>
    {% endfor %}
    <div class="py-3 justify-between">
        <a class="btn btn-info" href="{% url 'owner_create'%}"> Add new owner </a>
        <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a>
    </div>
</div>
{% endblock %}