{% extends "../../base.html" %}

{% block content %}
<div class="content-container">
    <p class="h2 py-3">Delete the car</p>
    <form method="post">
        {% csrf_token %}
        <p class="h2 py-3">Please confirm delete of {{ car_attachment }}?</p>
        <button class="btn btn-info my-3" type="submit">Delete</button>
    </form>
    <a class="btn btn-info" href="{% url 'car_detail' car.id %}"> Return to cars details </a>
    <a class="btn btn-info" href="{% url 'car_list'%}"> Return to cars list</a>
    <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a>
</div>
{% endblock %}