{% extends "../../base.html" %}

{% block content %}
<div class="content-container">
    <p class="h2 py-3">Delete the insurance</p>
    <form method="post">
        {% csrf_token %}
        <p class="h2 py-3">Please confirm delete of {{ insurance }}?</p>
        <button class="btn btn-info my-3" type="submit">Delete</button>
    </form>
    <a class="btn btn-info" href="{% url 'insurance_detail' insurance.id %}"> Return to insurance details </a>
    <a class="btn btn-info" href="{% url 'insurance_list'%}"> Return to insurance list</a>
    <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a>
</div>
{% endblock %}