{% extends "../../base.html" %}

{% block content %}
<div class="d-flex justify-content-left">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <p class="h1 py-3 font-weight-bold">{{ insurance.car.brand }} {{ insurance.car.model }} {{ insurance.car.owner }}</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-left">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <li class="m-2"> Cena: {{ insurance.price }}</li>
            <li class="m-2"> Oferta: {{ insurance.offer }}</li>
            <li class="m-2"> Data ubezpieczenia: {{ insurance.current_insurance_date }}</li>
            <li class="m-2"> Data odnowienia ubezpieczenia: {{ insurance.insurance_renewal_date }}</li>
            <li class="m-2"> Dodatkowe informacje: {{ insurance.notes }}</li>
            <li class="m-2"> Załączniki: <a download href="{{ insurance.attachements }}">{{ insurance.attachements }}</a></li>
        </div>
    </div>
</div>
<div class="d-flex justify-content-left">
    <div class="row row-centered py-3">
        <div class="col-12 col-centered">        
            <ul>
                <a class="btn" href="{% url 'insurance_update' insurance.id %}"> Zaktualizuj dane</a>
                <a class="btn" href="{% url 'insurance_delete' insurance.pk %}"> Usuń ubezpieczenie </a>
            </ul>
        </div>
    </div>
    <div class="row row-centered col-centered pt-3">
        <div class="col-12"> 
            <ul>
                <a class="btn" href="{% url 'insurance_list'%}"> Wróć do listy ubezpieczeń</a>
                <a class="btn" href="{% url 'home'%}"> Wróć do strony głównej</a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}