{% extends "../../base.html" %}

{% block content %}
<div class="content-container">
    <p class="h2 py-3">Update insurance info</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-info mt-3" type="submit">Save</button>
    </form>
    <div class="py-3 justify-between">
        <a class="btn btn-info" href="{% url 'insurance_detail' insurance.id %}"> Return to insurance details </a>
        <a class="btn btn-info" href="{% url 'insurance_list'%}"> Return to insurance list</a>
        <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a>
    </div>
</div>
{% endblock %}