{% extends "../../base.html" %}

{% block content %}
<div class="content-container">
    <p class="h2 py-3">Usuń włąściciela samochodu</p>
    <form method="post">
        {% csrf_token %}
        <p class="h2 py-3">Czy na pewno chcesz usunąć {{ car_owner }}?</p>
        <button class="btn btn-info my-3" type="submit">Delete</button>
    </form>
    <a class="btn btn-info" href="{% url 'car_detail' car.id %}"> Wróć do strony samochodu </a>
    <a class="btn btn-info" href="{% url 'car_list'%}"> Wróć do listy samochodów</a>
    <a class="btn btn-info" href="{% url 'home'%}"> Wróć do strony głównej</a>
</div>
{% endblock %}