{% extends "../../base.html" %}

{% block content %}
<div class="content-container">
        <p class="h2 py-3">{{  car_owner }}</p>
        <li class="m-2"> Samochód: {{ car_owner.car }}</li>
        <li class="m-2"> Status: {{ car_owner.status }}</li>
        <li class="m-2"> Właściciel od: {{ car_owner.assignment_date }}</li>
    <div class="py-3 justify-between">
        <ul class="m-2"><a class="btn btn-info" href="{% url 'car_update' car.id %}"> Update car info</a>
            <a class="btn btn-info" href="{% url 'car_delete' car.pk %}"> Delete car </a></ul>
        <ul class="m-2"><a class="btn btn-info" href="{% url 'car_list'%}"> Wróć do listy samochodów</a>
            <a class="btn btn-info" href="{% url 'home'%}"> Wróć do strony głównej</a></ul>
    </div>
</div>
{% endblock %}