{% extends "../../base.html" %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="row">
        <div class="col-4">
    {% for individual_customer in individual_customers %}
    <p class="h2 py-3 mx-3">{{ individual_customer.first_name }} {{ individual_customer.last_name }}</p>
    <li class="m-2"> Email: {{ individual_customer.email }}</li>
    <li class="m-2"> Phone number: {{ individual_customer.phone_number }}</li>
    <li class="m-2"> Address: {{individual_customer.address_prefix}}{{ individual_customer.street }}<br>{{ individual_customer.building }}
        {{ individual_customer.apartment }} {{ individual_customer.city }} {{ individual_customer.zip_code }}
    </li>
    <li class="m-2"> PESEL: {{ individual_customer.pesel }}</li>
    <li class="m-2"> Client since: {{ individual_customer.client_since }}</li>
        
        {% if forloop.last %}
        <div class="py-3">
            <ul class="my-2"><a class="btn btn-info mt-3" href="{% url 'individual_customer_update' individual_customer.id %}"> Update customer info</a>
                <a class="btn btn-info mt-3" href="{% url 'individual_customer_delete' individual_customer.pk %}"> Delete customer </a></ul>
        </div>
        {% endif %}
    {% endfor %}
    </div>      
    <div class="col-4"> 
        <p class="h2 py-3 mx-3">Client files </p>
        {% for attachment in attachments %}
            <li class="m-2"><a download href="{{ attachment.attachment.url }}">{{ attachment.attachment.name }}</a></li>
        {% empty %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="{% url 'customer_attachment_create' %}">Add attachment</a>
        </div>
    {% endfor %}
    </div>
    <div class="col-4">  
        <p class="h2 py-3 mx-3">Client notes</p>
    {% for note in notes %}
        <li class="m-2">{{ note.note|safe }}</li>
        {% empty %}
        <div class="py-3">
            <ul class="m-2"><a class="btn btn-info" href="{% url 'customer_note_create' %}">Add note</a>
        </div>
    {% endfor %}
    </div>
    </div>

    <div class="row my-4">
        <div class="col-12">
            <ul><a class="btn btn-info" href="{% url 'customers_list'%}"> Return to customer list</a>
            <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a></ul>
        </div>
    </div>
</div>

{% endblock %}

