{% extends "../../base.html" %}
{% load static %}


{% block content %}
<div class="d-flex justify-between">
    <div class="d-flex justify-content-left mx-3 vw-33">
        <div class="row row-centered pt-3">
            <div class="col-12 col-centered">
                {% for individual_customer in individual_customers %}
                <p class="h2 py-3 mx-3 font-weight-bold">{{ individual_customer.first_name }} {{ individual_customer.last_name }}</p>
                <li class="m-2"> Email: {{ individual_customer.email }}</li>
                <li class="m-2"> Numer telefonu: {{ individual_customer.phone_number }}</li>
                <li class="mx-2"> Adres: {{individual_customer.address_prefix}}{{ individual_customer.street }} {{ individual_customer.building }} 
                    {% if individual_customer.apartment %}
                        m.{{ individual_customer.apartment }}
                    {% endif %} <br>
                    <p class="mx-4">{{ individual_customer.city }} {{ individual_customer.zip_code }}</p>
                </li>
                <li class="mx-2"> PESEL: {{ individual_customer.pesel }}</li>  

                {% if individual_customer.driving_license_since %}
                    <li class="m-2"> Prawo jazdy od: {{ individual_customer.driving_license_since }} </li>
                {% endif %}

                <li class="m-2"> Klient od: {{ individual_customer.client_since }}</li>
                    
                    {% if forloop.last %}
                    <div class="py-3">
                        <ul class="my-2">
                            <a class="btn mt-3" href="{% url 'individual_customer_update' individual_customer.id %}">Zaktualizuj dane</a>
                            <a class="btn mt-3" href="{% url 'individual_customer_delete' individual_customer.pk %}"> Usuń klienta</a>
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>         
    <div class="d-flex justify-content-left mx-3 max-vw-33">
        <div class="row row-centered pt-3">
            <div class="col-12 col-centered">
                <p class="h2 py-3 mx-3 font-weight-bold">Pliki</p>
                <form action="{% url 'customer_attachment_delete' object.customer_type object.id %}" method="post">
                    {% csrf_token %}
                    {% for attachment in attachments %}
                    <ul class="m-2">
                        <input type="checkbox" name="{{ attachment.id }}">
                        <a download href="{{ attachment.attachment.url }}">{{ attachment.get_name|truncatechars:25 }}</a>
                    </ul>
                    {% endfor %}
                    <button type="submit" class="btn mt-3 mx-4">Usuń plik</button>
                </form>
                <div class="py-3">
                    <ul class="my-2"><a class="btn" href="{% url 'customer_attachment_create' object.customer_type object.id %}">Dodaj załącznik</a></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-left mx-3 max-vw-33">
        <div class="row row-centered pt-3">
            <div class="col-12 col-centered">
                <p class="h2 py-3 mx-3 font-weight-bold">Notatki</p>
                <form action="{% url 'customer_note_delete' object.customer_type object.id %}" method="post">
                {% csrf_token %}
                {% for note in notes %}
                    <ul class="m-2">
                        <input type="checkbox" name="{{ note.id }}">
                        <a href="{% url 'customer_note_update' object.customer_type object.id note.pk %}">{{ note.note|truncatechars:25 }}</a>
                    </ul>
                {% endfor %}
                <button type="submit" class="btn mt-3 mx-4">Usuń notatkę</button>
                </form>
                <div class="py-3">
                    <ul class="my-2"><a class="btn" href="{% url 'customer_note_create' object.customer_type object.id %}">Dodaj notatkę</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-left mx-3">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <ul><a class="btn" href="{% url 'customers_list'%}">Wróć do listy klientów</a>
            <a class="btn" href="{% url 'home'%}">Wróć na stronę główną</a></ul>
        </div>
    </div>
</div>

{% endblock %}

