{% extends "../../base.html" %}

{% block content %}
<div class="content-container">
    <div class="row">
    <div class="col-md-4">
        <p class="h2 py-3">Individual Owners</p>
        {% for individual_owner in individual_owners %}
            <li class="m-2 font-weight-bold"><a href="{% url 'individual_customer_detail' individual_owner.id %}">{{ individual_owner }}</a></li>
        {% endfor %}
        <div class="py-3 justify-between">
            <a class="btn btn-info" href="{% url 'individual_customer_create'%}"> Add new individual owner </a>
        </div>
    </div>
    </div>
    </div>
    <div class="py-3 justify-between">
        <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a>
    </div>
</div>
{% endblock %}