{% extends "../../base.html" %}

{% block content %}
<div class="d-flex justify-content-left mx-3">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <p class="h1 py-3 font-weight-bold">Klienci Indywidualni</p>

            {% for obj in object_list %}
                <li class="m-2 font-weight-bold"><a href="{% url 'individual_customer_detail' obj.id %}">{{ obj }}</a></li>
            {% endfor %}
        </div>
    </div>
</div>
<div class="d-flex justify-content-left mx-3">
    <div class="row row-centered pt-3">
        <!-- trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal"
            data-bs-target="#download-modal">Zapisz dane do pliku</button>
        <!-- end of trigger modal -->

        <!-- modal -->
        <div class="modal fade" id="download-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Wybierz format pliku</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn">Zapisz dane do pliku</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}