{% extends "../../base.html" %}

{% block content %}
<div class="d-flex justify-content-left">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <p class="h1">Samochody</p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-left" >
    {% for car in object_list %}
    <div class="row pt-2">
        <div class="col-12">
            <li class="m-2 font-weight-bold"><a href="{% url 'car_detail' car.pk  %}">{{ car }}</a></li>
        </div>
    </div>
</div>
<div class="d-flex-row-reverse justify-content-left" >
    {% endfor %}
    <div class="row pt-5">
        <div class="col-12">
            <a class="btn mt-3" href="{% url 'car_create'%}">Dodaj samochód do bazy</a>
            <a class="btn mt-3" href="{% url 'home'%}">Wróć na stronę główną</a>
        </div>
    </div>
</div>
{% endblock %}
