{% extends "../../base.html" %}

{% block content %}
<div class="content-container">
    <p class="h2 py-3">Add an customer</p>
    <form class="m-2" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-info mt-3" type="submit">Save</button>
    </form>
    <div class="py-3 justify-between">
        <a class="btn btn-info" href="{% url 'customers_list'%}"> Return to customers list</a>
        <a class="btn btn-info" href="{% url 'home'%}"> Return to the main page</a>
    </div>
</div>
{% endblock %}