{% extends "../../base.html" %}
{% load static %}

{% block content %}
<div class="d-flex justify-between">

<div class="d-flex justify-content-left mx-3">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            {% for enterprise_customer in enterprise_customers %}
            <p class="h2 py-3 mx-3 font-weight-bold">{{ enterprise_customer.company_name }}</p>
            <li class="m-2"> Email: {{ enterprise_customer.email }}</li>
            <li class="m-2"> Numer telefonu: {{ enterprise_customer.phone_number }}</li>
            <li class="m-2"> Adres: {{enterprise_customer.address_prefix}}{{ enterprise_customer.street }} {{ enterprise_customer.building }}
                {% if enterprise_customer.apartment %}
                    m.{{ enterprise_customer.apartment }}
                {% endif %}<br>
                <p class="mx-4">{{ enterprise_customer.city }} {{ enterprise_customer.zip_code }}</ul>
            </li>
            <li class="m-2"> REGON: {{ enterprise_customer.regon }}</li>
            <li class="m-2"> NIP: {{ enterprise_customer.nip }}</li>
            <li class="m-2"> Klient od: {{ enterprise_customer.client_since }}</li>
                
                {% if forloop.last %}
                <div class="py-3">
                    <ul class="my-2"><a class="btn  mt-3" href="{% url 'enterprise_customer_update' enterprise_customer.id %}">Zaktualizuj dane</a>
                        <a class="btn  mt-3" href="{% url 'enterprise_customer_delete' enterprise_customer.pk %}">Usuń klienta</a></ul>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>     
<div class="d-flex justify-content-left mx-3 max-vw-33">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <p class="h2 py-3 mx-3 font-weight-bold">Pliki</p>
            <form action="{% url 'customer_attachment_delete' object.customer_type object.id %}" method="post">
                {% csrf_token %}
                {% for attachment in attachments %}
                <ul class="m-2">
                    <input type="checkbox" name="{{ attachment.id }}">
                    <a download href="{{ attachment.attachment.url }}">{{ attachment.get_name|truncatechars:25 }}</a>
                </ul>
                {% endfor %}
                <button type="submit" class="btn mt-3 mx-4">Usuń plik</button>
            </form>
            <div class="py-3">
                <ul class="my-2"><a class="btn" href="{% url 'customer_attachment_create' object.customer_type  object.id %}">Dodaj załącznik</a></ul>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-left mx-3 max-vw-33">
    <div class="row row-centered pt-3">
        <div class="col-12 col-centered">
            <p class="h2 py-3 mx-3 font-weight-bold">Notatki</p>
            <form action="{% url 'customer_note_delete' object.customer_type object.id %}" method="post">
            {% csrf_token %}
            {% for note in notes %}
                <ul class="m-2">
                    <input type="checkbox" name="{{ note.id }}">
                    <a href="{% url 'customer_note_update' object.customer_type object.id note.pk %}">{{ note.note|truncatechars:25 }}</a>
                </ul>
            {% endfor %}
            <button type="submit" class="btn mt-3 mx-4">Usuń notatkę</button>
            </form>
            <div class="py-3">
                <ul class="my-2"><a class="btn" href="{% url 'customer_note_create' object.customer_type object.id %}">Dodaj notatkę</a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="d-flex justify-content-left mx-3">
<div class="row row-centered pt-3">
    <div class="col-12 col-centered">
        <ul><a class="btn" href="{% url 'customers_list'%}">Wróć do listy klientów</a>
        <a class="btn" href="{% url 'home'%}">Wróć na stronę główną</a></ul>
    </div>
</div>
</div>


{% endblock %}

